/* CSS RESET - do not remove */
/* Reset default browser styles and provide a consistent starting point */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: lighter;
}

/*  Set the font */
body {
  font-family: "Helvetica", sans-serif;
}

/* STYLES */
/* Write your CSS below */

.row1 {
  background-image: url(../images/apple-pie.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  overflow: hidden;
  width: 70%;
  margin: auto;
}

h1 {
  margin: 450px 0 500px 0;
  text-align: center;
  font-size: 80px;
  color: white;
}

.row2 {
  width: 60%;
  color: black;
  font-size: 20px;
  text-align: center;
  margin: auto;
}

.p1 {
  padding: 40px 0 40px 0;
}

h3 {
  padding: 40px 0 40px 0;
  font-size: 35px;
}

.row3 {
  width: 60%;
  color: black;
  font-size: 20px;
  text-align: left;
  margin: auto;
}

.img1 {
  padding: 40px 0 40px 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}